header {
  background-color: #334da0;
  background-image: linear-gradient(to right, #3b6ec3, #230555);
  color: white;
}

.card {
  background-color: #33465b;
  color: white;
}

.weather-icon {
  height: 50px;
}
